.App {
	text-align: center;
}

.App-container {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flights {
	height: 70vh;
	width: 300px;
	max-width: 300px;
	padding: 5px 10px;
	background-color: #fff;
	color: rgb(1, 1, 23);
}

.flights * {
	font-size: calc(10px + 1vmin);
}

.close_nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: calc(8px + 1vmin);
	font-weight: 300;
}

.close_nav span:nth-child(2) {
	height: 30px;
	width: 30px;
}

.close_nav span:nth-child(2):hover {
	color: red;
	cursor: pointer;
}

.section {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.section span {
	color: #ff5900;
}

.section > button {
	width: 53%;
	margin: 0 auto;
	color: green;
	border-radius: 16px;
	box-shadow: 0 0 2px 0 var(--box-shadow);
	letter-spacing: .7px;
	border-left: 2px solid buttonface;
	border-left-width: 2px;
	border-left-style: outset;
	border-left-color: buttonface;
	border-bottom: 2px solid buttonface;
	border-bottom-width: 2.5px;
	border-bottom-style: outset;
	border-bottom-color: buttonface;
	border-color: buttonface;
	border-top-color: buttonface;
	border-right-color: buttonface;
	border-bottom-color: buttonface;
	border-left-color: buttonface;
	border-style: solid solid outset outset;
	border-width: 1.5px 2px 2.5px;
	border-image: none;
	border-image: initial;
	border-image-source: none;
	border-image-slice: 100%;
	border-image-width: 1;
	border-image-outset: 0;
	border-image-repeat: initial;
	outline: none;
}

.wrapper {
	width: 77%;
	margin: 0 auto;
}

.wrapper > div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: left;
}

.city {
	color: green !important;
	font-size: calc(12px + 1vmin);
	font-style: italic;
	font-weight: 500;
	text-decoration: underline;
}
